[submodule "common"]
	path = common
	url = git@github.com:EchoLogyx/echo-ab-common.git
	update = rebase
	branch = master

[submodule "services"]
	path = services
	url = git@github.com:EchoLogyx/echo-services.git
	update = rebase
	branch = master
