/* Hide duplicate default swatch and selected swatch*/
.loop-color-swatch-loaded label.v-swatch {
  display: none !important;
}
.loop-color-swatch-loaded .selected-option {
  display: none;
}

// Style for new color swatches
.loop-color-wrapper {
  margin-bottom: 16px;
}
.loop-color-header {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 12px;
  font-size: 16px;
}
.swatch-label{
  padding: 0 !important;
}
.loop-color-header .swatch-label {
  font-weight: 600;
}

.loop-color-swatches {
  display: flex;
  gap: 8px;
}
.loop-color-swatch {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  background: #fff;
  padding: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.loop-color-swatch img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.loop-color-swatch.active {
  border: 1px solid #000;
}
