.shopify-section--announce-bar:not(.MMI47__announce-bar) {
    height: 50px;
    min-height: 50px;
    overflow: hidden;
    visibility: hidden;
}

.MMI47--control {
    .shopify-section--announce-bar {
        visibility: visible;
    }
}

.MMI47 {
    .js-marquee-wrapper {
        display: none;
    }
    .shopify-section--announce-bar {
        height: 50px;
        min-height: 50px;
        overflow: hidden;
        background: #f0f0eb;
        visibility: visible;
    }

    .MMI47__announcement {
        width: 100%;
        height: 50px;
        overflow: hidden;
        color: #05060a;
        font-family: "Akkurat-Mono-_1_", " sans-serif";
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: capitalize;
    }

    .MMI47__track,
    .MMI47__group,
    .MMI47__item {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .MMI47__track {
        width: max-content;
        justify-content: flex-start;
        animation: MMI47-rotate 30s linear infinite;
        will-change: transform;
    }

    .MMI47__group {
        --MMI47-gap: clamp(36px, 7vw, 82px);
        min-width: 100vw;
        flex: 0 0 auto;
        box-sizing: border-box;
        justify-content: space-around;
        gap: var(--MMI47-gap);
        padding-inline: calc(var(--MMI47-gap) / 2);
    }

    .MMI47__item {
        flex: 0 0 auto;
        gap: 8px;
        white-space: nowrap;
        color: inherit;
        text-decoration: none;
    }

    @media (max-width: 767px) {
        .shopify-section--announce-bar,
        .MMI47__announcement {
            height: 50px;
            min-height: 50px;
        }

        .MMI47__group {
            --MMI47-gap: 24px;
        }
    }
}

@keyframes MMI47-rotate {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-50%, 0, 0);
    }
}
