.shopify-section--announce-bar:not(.MMI47__announce-bar) {
    height: 50px;
    min-height: 50px;
    overflow: hidden;
    visibility: hidden;
}

.MMI47--control {
    .shopify-section--announce-bar {
        visibility: visible;
    }
}

.MMI47 {
    .js-marquee-wrapper {
        display: none;
    }
    .shopify-section--announce-bar {
        height: 50px;
        min-height: 50px;
        overflow: hidden;
        background: #f0f0eb;
        visibility: visible;
    }

    .MMI47__announcement {
        width: 100%;
        height: 50px;
        overflow: hidden;
        color: #05060A;
        font-family: "Akkurat-Mono-_1_", " sans-serif";
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: capitalize;
    }

    .MMI47__track,
    .MMI47__group,
    .MMI47__item {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .MMI47__track {
        justify-content: center;
    }

    .MMI47__group {
        justify-content: center;
        gap: clamp(36px, 7vw, 82px);
    }

    .MMI47__group--clone {
        display: none;
    }

    .MMI47__item {
        flex: 0 0 auto;
        gap: 8px;
        white-space: nowrap;
        color: inherit;
        text-decoration: none;
    }

    @media (max-width: 767px) {
        .shopify-section--announce-bar,
        .MMI47__announcement {
            height: 50px;
            min-height: 50px;
        }

        .MMI47__track {
            width: max-content;
            justify-content: flex-start;
            animation: MMI47-rotate 16s linear infinite;
            will-change: transform;
        }

        .MMI47__group {
            gap: 24px;
            padding-right: 24px;
        }

        .MMI47__group--clone {
            display: flex;
        }
    }
}

@keyframes MMI47-rotate {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}
