body.AB-pdp-qty-savings {
    .price-breaks {
        p {
            .text-red {
                font-weight: 700;
            }
            .AB-savings-text {
                color: #c8102e;
                font-weight: 500;
                white-space: nowrap;
            }
        }
    }
}
